.search-clear {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &-btn {
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;
  }

  &-text {
    font-size: 1.1rem;
    text-align: center;
  }

  &-results-row {
    margin: 0 auto;
  }
}

.search-clear-results-col {
  margin: 2.5rem auto;
}
